<h2>Hi, Johan</h2>
<p>Welcome back, how much you spend today?</p>
<div class="row">
    <div class="card balance">
        <p>My Balance</p>
        <h3>Chart Placeholder</h3>
    </div>
    <div class="card income">
        <p>Income</p>
        <h3>Chart Placeholder</h3>
    </div>
    <div class="card expense">
        <p>Expense</p>
        <h3>Chart Placeholder</h3>
    </div>
</div>
<div class="row">
    <div class="card">
        <h3>Simple Overview Chart</h3>
        <p>Chart Placeholder (Income/Expense - Monthly)</p>
    </div>
    <div class="card">
        <h3>Expense by Category Chart</h3>
        <p>Chart Placeholder(Pie / Doughnut)</p>
    </div>
</div>
<div class="row">
    <div class="card transaction">
        <h3>Transaction</h3>
        <p>Transaction Table</p>
    </div>
</div>
