<h2>Budgets</h2>
<p>Set your monthly budget and track your spending.</p>
<div class="row">
    <div class="card spending overview">
        <h3>Your spending overview</h3>
        <p>Chart Placeholder</p>
    </div>
    <div class="card spending overtime">
        <h3>Spending Overtime</h3>
        <p>Chart Placeholder</p>
    </div>
</div>
<div class="row">
    <div class="card mothly salary">
        <div class="inline">
        <h3>Monthly Salary</h3>
        <button>Edit Salary</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="mat-elevation-z8">
        <div class="inline">
            
            <div class="filter-row">
                <h3>Monthly Budgets</h3>

                <div class="filter-actions">
                <mat-form-field appearance="outline">
                    <mat-label>Month</mat-label>
                    <mat-select [(ngModel)]="month" (selectionChange)="loadBudgetStatus()">
                        <mat-option *ngFor="let m of months" [value]="m.value">
                            {{m.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <input matInput type="number" [(ngModel)]="year" (change)="loadBudgetStatus()">
                </mat-form-field>

                <button mat-raised-button color="primary" class="action-btn" (click)="openAddDialog()">Manage Budgets</button>
                </div>
            </div>
        <app-budget-table [budgets]="budgetStatus"></app-budget-table>
        </div>
    </div>
</div>
